@*Padrão chamar a View de Default e colocar em uma pasta cada View component criada*@

@model int

@*Para fazer a referencia dos dados use o model tudo minusculo com o tipo de dados que irá receber*@

<span class="btn btn-primary">@Model</span>
@*Model com o M maisculo para chamar a model em si se tiver mais parametro na chamada (Model.propriedade)*@